# Byte-compiled / optimized / DLL files
__pycache__/
.cache
.pytest_cache/

.vscode/

# Jupyter Notebook
.ipynb_checkpoints
troubleshoot.ipynb

# Environments
.env
.venv

# custom
data/
lightning_logs/