# Byte-compiled / optimized / DLL files
__pycache__/
.cache
.pytest_cache/
.DS_Store
.vscode/

# Jupyter Notebook
.ipynb_checkpoints
troubleshoot.ipynb

# Environments
.env
.venv

# custom
data/
logs/
jobs/
lightning_logs/